<div class="card">
    <h5 class="card-header">
        StockOption Simulation
        <button class="btn btn-secondary float-right" (click)="back()">Back</button>
    </h5>
    <div class="card-body">

        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink>Configuration</a>
                <ng-template ngbNavContent>
                    <h5 class="interbankin-subtitle">
                        Strategy 1
                    </h5>
                    <div class="form-group row">
                        <label for="buyPercentage" class="col-sm-2 col-form-label">Buy Percentage</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" [(ngModel)]="buyPercentage">
                        </div>
                        <label for="sellPercentage" class="col-sm-2 col-form-label">Sell Percentage</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" [(ngModel)]="sellPercentage">
                        </div>
                    </div>
                    <h5 class="interbankin-subtitle">
                        Strategy 2
                    </h5>
                    <div class="form-group row">
                        <label for="buyAverageValue" class="col-sm-2 col-form-label">Buy Average Value</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" [(ngModel)]="buyAverageValue">
                        </div>
                        <label for="sellDaysNumber" class="col-sm-2 col-form-label">Sell Days Number</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" [(ngModel)]="sellDaysNumber">
                        </div>
                    </div>
                    <h5 class="interbankin-subtitle">
                        For All Strategies
                    </h5>
                    <div class="form-group row">
                        <label for="userCash" class="col-sm-2 col-form-label">Cash</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" [(ngModel)]="userCash" min="100000" max="1000000" />
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-success float-right" (click)="simulate()">Simulate</button>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>Simulation Result by Strategy</a>
                <ng-template ngbNavContent>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Earn Money</th>
                                <th scope="col">Total Purchases</th>
                                <th scope="col">Total Purchases Profitable</th>
                                <th scope="col">Top 5 Purchases</th>
                                <th scope="col">Top 3 Purchases Profitable</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let strategySimulation of strategySimulations">
                                <th scope="row">{{strategySimulation.strategyId}}</th>
                                <td>{{strategySimulation.earnMoney}}</td>
                                <td>{{strategySimulation.totalPurchases}}</td>
                                <td>{{strategySimulation.totalPurchasesProfitable}}</td>
                                <td>
                                    <p *ngFor="let top5Purchase of strategySimulation.top5Purchases">{{top5Purchase[0]}} -
                                        {{top5Purchase[1]}}</p>
                                </td>
                                <td>
                                    <p *ngFor="let top3PurchaseProfitable of strategySimulation.top3PurchasesProfitable">
                                        {{top3PurchaseProfitable[0]}} - {{top3PurchaseProfitable[1]}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>Simulation Result</a>
                <ng-template ngbNavContent>
                    In progress
                </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink>Data Source</a>
                <ng-template ngbNavContent>
                    <stock-option-chart></stock-option-chart>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        
    </div>
</div>